export(block.mult)
export(blockMult)
export(calc.F.times.X)
export(calc.FX)
export(calc.FXtF2)
export(calc.iS.X)
export(calc.mu.B)
export(calc.smooth.trends)
export(calcSmoothTrends)
export(calc.tF.mat.F)
export(calc.tF.times.mat)
export(calc.tFX)
export(calc.tFXF)
export(calc.X.iS.X)
export(combineMesaData)
export(computeLTA)
export(compute.ltaCV)
export(cond.expectation)
export(construct.LUR.basis)
export(construct.ST.basis)
export(convertCharToDate)
export(createCV)
export(create.data.matrix)
export(createDataMatrix)
export(create.data.model)
export(createSTdata)
export(createSTmodel)
export(crossDist)
export(CVbasics)
export(CVresiduals.qqnorm)
export(CVresiduals.scatter)
export(defaultList)
export(default.LUR.list)
export(default.ST.list)
export(detrend.data)
export(detrendSTdata)
export(dot.prod)
export(dotProd)
export(drop.observations)
export(dropObservations)
export(estimate)
export(estimateCV)
export(evalCovFuns)
export(expandF)
export(fit.mesa.model)
export(gen.gradient)
export(genGradient)
export(gen.hessian)
export(genHessian)
export(get.params)
export(invCholBlock)
export(loglike)
export(loglike.dim)
export(loglike.grad)
export(loglike.hessian)
export(loglike.naive)
export(loglike.naive.grad)
export(loglike.naive.hessian)
export(loglikeST)
export(loglikeSTdim)
export(loglikeSTgetPars)
export(loglikeSTGrad)
export(loglikeSTHessian)
export(loglikeSTnaive)
export(loglikeSTnaiveGrad)
export(loglikeSTnaiveHessian)
export(loglikeSTnames)
export(loglike.var.names)
export(makeCholBlock)
export(make.sigma.B)
export(makeSigmaB)
export(make.sigma.B.full)
export(make.sigma.nu)
export(makeSigmaNu)
export(make.sigma.nu.cross.cov)
export(MCMC)
export(namesCovFuns)
export(norm2)
export(parsCovFuns)
export(plotCV)
export(plotMesaData)
export(plotMonitoringLoc)
export(plotPrediction)
export(predictCV)
export(predictNaive)
export(printMesaDataNbrObs)
export(processLocation)
export(processLUR)
export(processST)
export(removeSTcovarMean)
export(remove.ST.mean)
export(run.MCMC)
export(setupSTdataset)
export(simulateMesaData)
export(solveTriBlock)
export(stCheckClass)
export(stCheckCovars)
export(stCheckFields)
export(stCheckObs)
export(stCheckSTcovars)
export(sumLogDiag)
export(summaryStatsCV)
export(SVD.miss)
export(SVDmiss)
export(SVD.smooth)
export(SVDsmooth)
export(SVD.smooth.cv)
export(SVDsmoothCV)
export(tstat)
export(updateCovf)
export(updateSTdataTrend)
importFrom(graphics,boxplot)
importFrom(graphics,plot)
importFrom(MASS,mvrnorm)
importFrom(stats,coef)
importFrom(stats,predict)
importFrom(stats,simulate)
import(Matrix)
S3method(boxplot,estCVSTmodel)
S3method(coef,estCVSTmodel)
S3method(coef,estimateSTmodel)
S3method(c,STmodel)
S3method(estimateCV,STmodel)
S3method(estimate,STmodel)
S3method(MCMC,STmodel)
S3method(plot,predCVSTmodel)
S3method(plot,predictSTmodel)
S3method(plot,STdata)
S3method(plot,STmodel)
S3method(plot,SVDcv)
S3method(predictCV,STmodel)
S3method(predict,STmodel)
S3method(print,estCVSTmodel)
S3method(print,estimateSTmodel)
S3method(print,mcmcSTmodel)
S3method(print,predCVSTmodel)
S3method(print,predictSTmodel)
S3method(print,STdata)
S3method(print,STmodel)
S3method(print,summary.estCVSTmodel)
S3method(print,summary.mcmcSTmodel)
S3method(print,summary.predCVSTmodel)
S3method(print,summary.STdata)
S3method(print,summary.STmodel)
S3method(print,SVDcv)
S3method(simulate,STmodel)
S3method(summary,estCVSTmodel)
S3method(summary,mcmcSTmodel)
S3method(summary,predCVSTmodel)
S3method(summary,STdata)
S3method(summary,STmodel)
useDynLib(SpatioTemporal,C_block_mult)
useDynLib(SpatioTemporal,C_calc_F_part_X)
useDynLib(SpatioTemporal,C_calc_tFX)
useDynLib(SpatioTemporal,C_calc_tFXF)
useDynLib(SpatioTemporal,C_cov_names)
useDynLib(SpatioTemporal,C_cov_pars)
useDynLib(SpatioTemporal,C_cov_simple)
useDynLib(SpatioTemporal,C_dist)
useDynLib(SpatioTemporal,C_dotProd)
useDynLib(SpatioTemporal,C_inv_chol_block)
useDynLib(SpatioTemporal,C_make_chol_block)
useDynLib(SpatioTemporal,C_makeSigmaB)
useDynLib(SpatioTemporal,C_makeSigmaNu)
useDynLib(SpatioTemporal,C_norm2)
useDynLib(SpatioTemporal,C_solve_tri_block)
useDynLib(SpatioTemporal,C_sum_log_diag)
